.react-responsive-modal-overlay {
  width: 1024px;
  height: 768px;
  margin-top: 78px;
  margin-left: 74px;
}

.react-responsive-modal-container {
  width: 1024px;
  height: 768px;
  margin-top: 78px;
  margin-left: 74px;
}
